<div class="container p-4">
  <div class="bg-light rounded-lg p-4">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Listing articles</h1>
    <div>
      <a class="btn btn-success bg-gradient" href="<%= new_article_path %>">Create Article</a>
    </div>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Text</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.id %></td>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td class="pl-0">
            <a class="btn btn-primary bg-gradient" href="<%= article_path(article) %>">Show Article</a>
            <a class="btn btn-warning bg-gradient" href="<%= edit_article_path(article) %>">Edit Article</a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>